<header>
    <nav>
        <figure class="logo-container">
            <img class="logo" src="/img/funda-Blue.svg" alt="navigation-logo">
        </figure>
        <input type="checkbox" id="check">
        <label for="check" class="hamburger-btn">
            <div class="menu-btn">
                <div class="menu-btn__burger"></div>
            </div>
        </label>
        <ul class="nav-list">
            <li><a class="active" href="#" role="button">Kopen</a></li>
            <li><a href="#" role="button">Huren</a></li>
            <li><a href="#" role="button">Verkopen</a></li>
            <li><a href="#" role="button">Account</a></li>
        </ul>
    </nav>
</header>