<header>
    <nav>
        <ul class="navbar-list">
            <li class="navbar-item">Menu</li>
            <li class="navbar-item"><img src="./assets/funda-logo.svg" width="100" height="32"></li>
        </ul>

        <ul class="navbar-list">
            <li class="navbar-item">Mijn Huis</li>
            <li class="navbar-item">Account</li>
        </ul>
    </nav>

    <ul class="breadcrum-list">
        <li class="breadcrum-item">Home</li>
        <li class="breadcrum-item">Mijn account</li>
        <li class="breadcrum-item">Favorieten</li>
    </ul>
</header>