<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funda | Navbar Feature</title>
    <link href="/styles/styles.css" rel="stylesheet">
    <script src="/scripts/scripts.js" defer></script>
</head>
<body>
    <!-- navbar -->
    <%- include('./partials/navbar') %>
</body>
</html>